* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: device-width;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.photo img {
    width: 200px;
    height: 200px;
    float: left;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 64px;
    font-weight: 500;
    float: left;
    letter-spacing: 0.5rem;

}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin-top: 15px;
}

.menu > li > a {
    display: block;
    color: #777777;
    font-size: 16px;
    letter-spacing: 0.2rem;
    
}

section {
    margin-top: 30px;
}

h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo > a > img {
    width: 100px;
}
.year {
    font-size: 20px;
    font-weight: bold;
}